<!DOCTYPE html>
<html>
<head>
  <title>{{ title or Configs.ctf_name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ Configs.ctf_small_icon }}" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Metal+Mania&family=Nosifer&family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet">

  {{ meta | safe }}

  {% block stylesheets %}
    {{ Assets.css("assets/scss/main.scss") }}
  {% endblock %}

  {{ Plugins.styles }}

  {{ Assets.js("assets/js/color_mode_switcher.js", type=None) }}

  <script type="text/javascript">
      window.init = {
          'urlRoot': "{{ request.script_root }}",
          'csrfNonce': "{{ Session.nonce }}",
          'userMode': "{{ Configs.user_mode }}",
          'userId': {{ Session.id }},
          'userName': {{ User.name | tojson }},
          'userEmail': {{ User.email | tojson }},
          'userVerified': {{ User.verified | tojson }},
          'teamId': {{ Team.id | tojson }},
          'teamName': {{ Team.name | tojson }},
          'start': {{ Configs.start | tojson }},
          'end': {{ Configs.end | tojson }},
          'themeSettings': {{ Configs.theme_settings | tojson }},
          'eventSounds': [
            "/themes/core/static/sounds/notification.webm",
            "/themes/core/static/sounds/notification.mp3",
          ],
      }
  </script>

  {{ Configs.theme_header }}
</head>
<body>
{% include "components/navbar.html" %}

<main role="main">
  {% block content %}
  {% endblock %}
</main>

{% include "components/snackbar.html" %}

{# Footer removed
<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <!-- 左侧：CTFd版权信息 -->
      <div class="footer-left">
        <a href="https://ctfd.io" class="footer-link">
          <span class="footer-text">{% trans %}Powered by CTFd{% endtrans %}</span>
        </a>
      </div>
      
      <!-- 中间：分隔线 -->
      <div class="footer-divider"></div>
      
      
    </div>
  </div>
</footer>
#}

{% include "components/notifications.html" %}

{% block scripts %}
  {{ Assets.js("assets/js/page.js") }}
{% endblock %}

{{ Plugins.scripts }}

{{ Configs.theme_footer }}
</body>
</html>
