{% extends "base.html" %}

{% block content %}
<div class="max-w-7xl mx-auto px-6 py-12">
    <div class="bg-card-dark border border-primary/20 p-8 shadow-2xl relative overflow-hidden">
        <!-- Decoration -->
        <div class="absolute top-0 left-0 w-full h-1 bg-gradient-to-r from-transparent via-primary to-transparent opacity-50"></div>

        <div class="prose prose-invert prose-red max-w-none text-stone-300 font-serif">
            {{ content | safe }}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
  {{ Assets.js("assets/js/page.js") }}
{% endblock %}
